doctype html
html
  head
    title= name
  body(style="background: #91ff003b;")
    h1(style="text-align: center")= "Description product"
    div(style="width: 60%;margin: 0 auto;border: 4px solid gray;padding: 10px;background-color: cornsilk;")
      h3= `Name: ${name}`
      h4= `Description: ${description}`
      h3= `Price : ${price } $`